* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    font-weight:900;
    line-height: 2.5; 
    background-color:#fff;

}

.container{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
     background-color: #2c3f4ddf;

}

.calculator{
    display:grid;
    width: 300px;
    grid-template-columns: repeat(4, 1fr);
    padding: 12px; 
    border-radius: 30px; 
    box-shadow: 5px 5px 15px #fff,
                5px 5px 15px #0000;
}


.input{ 
    grid-column:1/5;
    height: 60px;
    border-radius: 15px;
    box-shadow:inset -5px -5px 15px #fff,
    inset 5px 5px 15px rgba(0,0,0,.16) 
    background-color #ecf0ec;
    border: none;
    color: gray;
    text-align: end;
    padding:20px;
    margin:40px, 0px,30px,0px;
    font-size: 20px;  
    
} 

#cancel:hover{
    font-weight:bold ;
    color: white;

}

#erase:hover{
    font-weight: bold;
    color: white;
}

.btn{
    border-radius:20px;
    box-shadow:5px 5px 15px #fff,
                5px 5px 15px rgba(0,0,0,.16) 
    background-color #ecf0ec;
    border: none;
    height:50px;
    margin: 4px;
    font-size: 17px;
    font-weight: 600;
}

.btn:hover{
    background-color:darkorange;
    cursor: pointer;
}

#equals{
grid-column:3/5 ;
}

#equals:hover{
    background-color: transparent;
    color: antiquewhite;
}

#equals:active{
    background-color: crimson;
}



